#!/usr/bin/env xdg-open

[Desktop Entry]
#Actions=
Categories=Office;
Comment=E-book library management: Convert, view, share, catalogue all your e-books
Exec=docker exec ubuntu-tini-desktop bash -l -c "calibre %F"
GenericName=E-book library management
Icon=calibre
MimeType=application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/x-mobipocket-ebook;image/vnd.djvu;application/x-cbr;application/x-mobi8-ebook;application/oebps-package+xml;text/fb2+xml;application/xhtml+xml;text/rtf;application/x-ruby;text/plain;application/x-cbz;application/x-cbc;application/x-sony-bbeb;application/vnd.ms-word.document.macroenabled.12;application/vnd.oasis.opendocument.text;application/pdf;text/html;application/x-mobipocket-subscription;application/epub+zip;text/x-markdown;application/ereader;
Name=Calibre
#StartupNotify=
StartupWMClass=calibre
Terminal=false
Type=Application
Version=1.0