#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Name=Calibre
Comment=E-Book Management
Exec=docker exec ubuntu-tini-desktop bash -l -c "calibre %F"
Icon=calibre
MimeType=application/x-mobipocket-ebook;application/epub+zip;x-content/ebook-reader;
Categories=Office;Graphics;Viewer;