#!/usr/bin/env xdg-open

[Desktop Entry]
Actions=new-window;new-private-window;
Categories=Network;WebBrowser;
Comment=Access the Internet 
Exec=docker exec ubuntu-tini-desktop bash -l -c "google-chrome %U"
GenericName=Web Browser
Icon=chrome
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
Name=Google Chrome
StartupNotify=true
StartupWMClass=google-chrome
Terminal=false
Type=Application
Version=1.0

[Desktop Action new-window]
Exec=docker exec ubuntu-tini-desktop bash -l -c "google-chrome --new-window"
Name=New Window

[Desktop Action new-private-window]
Exec=docker exec ubuntu-tini-desktop bash -l -c "google-chrome --incognito"
Name=New Incognito Window