#!/usr/bin/env xdg-open

[Desktop Entry]
#Actions=
Categories=Network;FileTransfer;P2P;GTK
Comment=Download and share files over BitTorrent
Exec=docker exec ubuntu-tini-desktop bash -l -c "deluge-gtk %U"
GenericName=BitTorrent Client
Icon=deluge
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Name=Deluge
StartupNotify=true
StartupWMClass=deluge
Terminal=false
Type=Application
Version=1.0