#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=draw.io
GenericName=Drawing Application
Comment=We love diagrams
Exec=docker exec ubuntu-tini-desktop bash -l -c "draw.io %U"
Icon=draw.io
Terminal=false
Type=Application
Categories=Utility;
MimeType=text/plain;inode/directory;
Keywords=draw.io;
