#!/usr/bin/env xdg-open

[Desktop Entry]
#Actions=
Categories=Graphics;
Comment=diagrams.net desktop
Exec=docker exec ubuntu-tini-desktop bash -l -c "draw.io %U"
GenericName=Drawing Application
Icon=draw.io
MimeType=application/vnd.jgraph.mxfile;application/vnd.visio;
Name=draw.io
#StartupNotify=
StartupWMClass=draw.io
Terminal=false
Type=Application
Version=1.0