#!/usr/bin/env xdg-open

[Desktop Entry]
#Actions=
Categories=Network;FileTransfer;
Comment=Download and upload files via FTP, FTPS and SFTP
Exec=docker exec ubuntu-tini-desktop bash -l -c "filezilla"
GenericName=FTP client
Icon=filezilla
MimeType=x-scheme-handler/ftp;
Name=FileZilla
#StartupNotify=true
#StartupWMClass=filezilla
Terminal=false
Type=Application
Version=1.0