#!/usr/bin/env xdg-open

[Desktop Entry]
#Actions=
Categories=Graphics;VectorGraphics;GTK;
Comment=Create and edit Scalable Vector Graphics images
Exec=docker exec ubuntu-tini-desktop bash -l -c "inkscape %F"
GenericName=Vector Graphics Editor
MimeType=image/svg+xml;image/svg+xml-compressed;application/vnd.corel-draw;application/pdf;application/postscript;image/x-eps;application/illustrator;
Icon=inkscape
Name=Inkscape
StartupNotify=true
#StartupWMClass=
Terminal=false
Type=Application
Version=1.0

[X-Drawing Shortcut Group]
Exec=docker exec ubuntu-tini-desktop bash -l -c "inkscape"
Name=New Drawing