#!/usr/bin/env xdg-open

[Desktop Entry]
#Actions=
Categories=Qt;KDE;Office;Graphics;
#Comment=
Exec=docker exec ubuntu-tini-desktop bash -l -c "krita %U"
GenericName=Painting and Image Editing
Icon=krita
MimeType=application/x-krita
Name=Krita
#StartupNotify=
#StartupWMClass=
#Terminal=
Type=Application
Version=1.0