#!/usr/bin/env xdg-open

[Desktop Entry]
Actions=Writer;Calc;Impress;Draw;Base;Math;
Categories=Office;X-Red-Hat-Base;X-SuSE-Core-Office;X-MandrivaLinux-Office-Other;
Comment=The office productivity suite compatible to the open and standardized ODF document format. Supported by The Document Foundation.
Exec=docker exec ubuntu-tini-desktop bash -l -c "libreoffice %U"
GenericName=Office
Icon=libreoffice
MimeType=application/vnd.openofficeorg.extension;x-scheme-handler/vnd.libreoffice.cmis;
Name=Libre Office
StartupNotify=true
StartupWMClass=libreoffice-startcenter
Terminal=false
Type=Application
Version=1.0

[Desktop Action Writer]
Exec=docker exec ubuntu-tini-desktop bash -l -c "libreoffice --writer"
Name=Writer

[Desktop Action Calc]
Exec=docker exec ubuntu-tini-desktop bash -l -c "libreoffice --calc"
Name=Calc

[Desktop Action Impress]
Exec=docker exec ubuntu-tini-desktop bash -l -c "libreoffice --impress"
Name=Impress

[Desktop Action Draw]
Exec=docker exec ubuntu-tini-desktop bash -l -c "libreoffice --draw"
Name=Draw

[Desktop Action Base]
Exec=docker exec ubuntu-tini-desktop bash -l -c "libreoffice --base"
Name=Base

[Desktop Action Math]
Exec=docker exec ubuntu-tini-desktop bash -l -c "libreoffice --math"
Name=Math