#!/usr/bin/env xdg-open

[Desktop Entry]
Actions=Kiosk;Profile;Tray;Quit;
Categories=GTK;GNOME;X-GNOME-NetworkSettings;Network;
Comment=Connect to remote desktops
Exec=docker exec ubuntu-tini-desktop bash -l -c "remmina %U"
GenericName=Remote Desktop Client
Icon=remmina
MimeType=x-scheme-handler/rdp;x-scheme-handler/spice;x-scheme-handler/vnc;x-scheme-handler/remmina;application/x-remmina;
Name=Remmina
#StartupNotify=
StartupWMClass=remmina
Terminal=false
Type=Application
Version=1.0

[Desktop Action Profile]
Exec=docker exec ubuntu-tini-desktop bash -l -c "remmina --new#
Name=Create a New Connection Profile

[Desktop Action Kiosk]
# Start Remmina with a minimal interface for kiosk/thin client mode
Exec=docker exec ubuntu-tini-desktop bash -l -c "remmina --kiosk"
Name=Start Remmina in Kiosk mode

[Desktop Action Tray]
Exec=docker exec ubuntu-tini-desktop bash -l -c "remmina --icon"
Name=Start Remmina Minimized

[Desktop Action Quit]
Exec=docker exec ubuntu-tini-desktop bash -l -c "remmina --quit"
Name=Quit
OnlyShowIn=Unity;