#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=Microsoft Teams - Preview
Comment=Microsoft Teams for Linux is your chat-centered workspace in Office 365.
Exec=docker exec ubuntu-tini-desktop bash -i -c "/usr/bin/teams %U"
Icon=teams
Terminal=false
StartupNotify=true
StartupWMClass=Microsoft Teams - Preview
Categories=AudioVideo;Network;
MimeType=x-scheme-handler/teams;
X-KDE-Protocols=teams
