#!/usr/bin/env xdg-open

[Desktop Entry]
#Actions=
Categories=Network;Email;
Comment=Send and receive mail with Thunderbird
Exec=docker exec ubuntu-tini-desktop bash -l -c "thunderbird %u"
GenericName=Mail Client
Icon=thunderbird
MimeType=text/html;text/xml;application/xhtml+xml;application/rss+xml;x-scheme-handler/mailto;
Name=Thunderbird Mail
StartupNotify=true
StartupWMClass=Thunderbird
Terminal=false
Type=Application
Version=1.0