#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=Visual Studio Code
GenericName=Text Editor
Comment=Code Editing. Redefined.
Exec=docker exec ubuntu-tini-desktop bash -l -c "code %U"
Icon=vscode
Terminal=false
Type=Application
Categories=Utility;TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;
Keywords=vscode;
